{% extends 'base.html' %}
{%block title%}
tracks
{%endblock%}


{%block content%}
<a href="{% url 'inserttrainee' %}">Insert Trainee</a>
<h1>All Trainees</h1>
<table width="100%" border="" 1>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Track</th>
        <th>Status</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    {% for trainee in trainees %}
    <tr>
        <td>{{trainee.id}}</td>
        <td>{{trainee.name}}</td>
        <td>{{trainee.email}}</td>
<!--        <td>{{trainee.trackid.name}}</td>-->
        <td>{% if trainee.status %}Active{% else %}Inactive{% endif %}</td>
        <td><img src="{{trainee.image.url}}" alt=""></td>
        <td><a href="{% url 'updatetrainee' trainee.id%}">Update</a>
            <a href="{% url 'deletetrainee' trainee.id%}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{%endblock%}